.welcome-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page-container {
    width: 80%;
    padding: 20px;
    background-color: #262C3A;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0px 50px 0px rgba(38, 44, 58, 0.8);
    position: relative;
}

.welcome-page-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 5px; /* This creates the border width */
    background: linear-gradient(to right, #d43bd4, #3071ab, #00e8b5);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}
.container-wrapper{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.button-section{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .button-container{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        height: 40px;
    }

    .create-button, .join-button, .connect-button, .search-button, .about-button{
        width: 35%;       
        border-radius: 8px;
        font-size: 16px;
        padding: 0;
        background: linear-gradient(45deg, #6b46c1, #3b82f6, #10b981);
        color: white;
        font-weight: 600;
        border: none;
        transition: transform 0.2s, box-shadow 0.2s;
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            filter: brightness(1.1);
        }
    }
}
