// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: "Space Grotesk",
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    height: 100%;
    margin: 0;
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    word-spacing: 0px; 
    background: linear-gradient(45deg, #d43bd4, #3071ab, #00e8b5);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
@media (min-width: 1400px) {
    .container {
      max-width: 750px;
    }
}
  
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
      max-width: 750px;
    }
}
  
@media (min-width: 1025px) and (max-width: 1199px) {
    .container {
      max-width: 650px;
    }
}
  
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
      max-width: 550px;
    }
}
  
@media only screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }
}
